node-red/Graph_Multi_X.json
[{"id":"b9c05cc1.45a96","type":"tab","label":"Flow 1"},{"id":"1eb06bf9.9ab794","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"node","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"477565fb.336e94","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"17f3b425.8f3d64","type":"ui_group","z":"","name":"Default","tab":"477565fb.336e94","disp":true,"width":"12"},{"id":"11f2401.fe9474","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3afec82.d279db8","type":"mqtt in","z":"b9c05cc1.45a96","name":"localMQTT","topic":"DRONE/240ac481-8c70-espruino/evt","qos":"0","broker":"1eb06bf9.9ab794","x":251.1580810546875,"y":162.5441131591797,"wires":[["ba21667d.6d81b8"]]},{"id":"4d9e0a5a.c757dc","type":"ui_chart","z":"b9c05cc1.45a96","name":"","group":"17f3b425.8f3d64","order":0,"width":"0","height":"0","label":"motion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":874.1433715820312,"y":333.13970947265625,"wires":[[],[]]},{"id":"4a21188d.1152a8","type":"function","z":"b9c05cc1.45a96","name":"split channels","func":"var msgx = {};\nvar msgy = {};\nvar msgz = {};\nvar msgw = {};\n\nmsgx.payload = msg.payload.qx;\nmsgx.topic = \"qx\";\n\nmsgy.payload = msg.payload.qy;\nmsgy.topic = \"qy\";\n\nmsgz.payload = msg.payload.qz;\nmsgz.topic = \"qz\";\n\nmsgw.payload = msg.payload.qw;\nmsgw.topic = \"qw\";\n\nreturn [msgx, msgy, msgz, msgw];","outputs":"4","noerr":0,"x":566.1581420898438,"y":335.44117736816406,"wires":[["4d9e0a5a.c757dc"],["4d9e0a5a.c757dc"],["4d9e0a5a.c757dc"],["4d9e0a5a.c757dc"]]},{"id":"6e760b04.5bf974","type":"debug","z":"b9c05cc1.45a96","name":"","active":true,"console":"false","complete":"false","x":872.1470031738281,"y":238.67276000976562,"wires":[]},{"id":"ba21667d.6d81b8","type":"json","z":"b9c05cc1.45a96","name":"","x":351.14703369140625,"y":343.6837921142578,"wires":[["4a21188d.1152a8"]]}]